/* .App {
  text-align: center;
} */

.myContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leftSide {
  flex: 1;
}

.rightSide {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

